--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg110+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: card_fee_master; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.card_fee_master (
    fee_id uuid NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    charge_type character varying(255) NOT NULL,
    card_category character varying(20) NOT NULL,
    card_network character varying(100) NOT NULL,
    card_product character varying(100) NOT NULL,
    full_card_name character varying(200),
    fee_value numeric(15,4) NOT NULL,
    fee_unit character varying(20) NOT NULL,
    fee_basis character varying(20) NOT NULL,
    min_fee_value numeric(15,4),
    min_fee_unit character varying(20),
    max_fee_value numeric(15,4),
    free_entitlement_count integer,
    condition_type character varying(20) NOT NULL,
    note_reference character varying(200),
    priority integer NOT NULL,
    status character varying(20) NOT NULL,
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    product_line character varying(50) DEFAULT 'CREDIT_CARDS'::character varying NOT NULL,
    note_number integer,
    answer_text text
);


ALTER TABLE public.card_fee_master OWNER TO chatbot_user;

--
-- Name: card_fee_notes; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.card_fee_notes (
    note_number integer NOT NULL,
    note_text text NOT NULL,
    source_file text,
    effective_from date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.card_fee_notes OWNER TO chatbot_user;

--
-- Name: retail_asset_charge_master_v2; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.retail_asset_charge_master_v2 (
    charge_id uuid DEFAULT gen_random_uuid() NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    loan_product public.loan_product_enum NOT NULL,
    loan_product_name character varying(200),
    charge_type public.retail_charge_type_enum NOT NULL,
    charge_context public.charge_context_enum DEFAULT 'GENERAL'::public.charge_context_enum NOT NULL,
    charge_title character varying(200) NOT NULL,
    charge_description character varying(500),
    fee_value numeric(15,4),
    fee_unit public.fee_unit_enum,
    fee_basis public.fee_basis_enum,
    min_fee_value numeric(15,4),
    min_fee_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    max_fee_value numeric(15,4),
    max_fee_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    tier_1_threshold_amount numeric(15,4),
    tier_1_threshold_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    tier_1_rate_value numeric(15,4),
    tier_1_rate_unit public.fee_unit_enum,
    tier_1_max_fee_value numeric(15,4),
    tier_1_max_fee_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    tier_2_threshold_amount numeric(15,4),
    tier_2_threshold_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    tier_2_rate_value numeric(15,4),
    tier_2_rate_unit public.fee_unit_enum,
    tier_2_max_fee_value numeric(15,4),
    tier_2_max_fee_currency public.fee_unit_enum DEFAULT 'BDT'::public.fee_unit_enum,
    condition_type public.condition_type_enum DEFAULT 'NONE'::public.condition_type_enum NOT NULL,
    condition_description text,
    note_reference character varying(50),
    remarks text,
    employee_fee_value numeric(15,4),
    employee_fee_unit public.fee_unit_enum,
    employee_fee_description character varying(200),
    category_a_fee_value numeric(15,4),
    category_a_fee_unit public.fee_unit_enum,
    category_b_fee_value numeric(15,4),
    category_b_fee_unit public.fee_unit_enum,
    category_c_fee_value numeric(15,4),
    category_c_fee_unit public.fee_unit_enum,
    original_charge_text text,
    priority integer DEFAULT 100 NOT NULL,
    status public.status_enum DEFAULT 'ACTIVE'::public.status_enum NOT NULL,
    created_at timestamp without time zone DEFAULT (now() AT TIME ZONE 'utc'::text) NOT NULL,
    updated_at timestamp without time zone DEFAULT (now() AT TIME ZONE 'utc'::text) NOT NULL,
    created_by character varying(50),
    updated_by character varying(50),
    approved_by character varying(50),
    approved_at timestamp without time zone,
    fee_text text,
    fee_rate_value numeric(15,4),
    fee_rate_unit character varying(20),
    fee_amount_value numeric(15,4),
    fee_amount_currency character varying(20),
    fee_period character varying(20),
    fee_applies_to character varying(30),
    answer_text text,
    answer_source character varying(20) DEFAULT 'SCHEDULE'::character varying NOT NULL,
    parse_status character varying(20) DEFAULT 'UNPARSED'::character varying NOT NULL,
    parsed_from character varying(20),
    parsed_at timestamp without time zone,
    CONSTRAINT chk_retail_v2_amount_currency_when_amount_set CHECK (((fee_amount_value IS NULL) OR (fee_amount_currency IS NOT NULL))),
    CONSTRAINT chk_retail_v2_has_fee_payload CHECK (((fee_value IS NOT NULL) OR (tier_1_rate_value IS NOT NULL) OR (tier_2_rate_value IS NOT NULL) OR (original_charge_text IS NOT NULL) OR (fee_text IS NOT NULL) OR (answer_text IS NOT NULL) OR (fee_rate_value IS NOT NULL) OR (fee_amount_value IS NOT NULL))),
    CONSTRAINT chk_retail_v2_rate_unit_when_rate_set CHECK (((fee_rate_value IS NULL) OR (fee_rate_unit IS NOT NULL)))
);


ALTER TABLE public.retail_asset_charge_master_v2 OWNER TO chatbot_user;

--
-- Name: TABLE retail_asset_charge_master_v2; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON TABLE public.retail_asset_charge_master_v2 IS 'Master table for all retail asset/loan charges v2 - with charge_context for deterministic selection';


--
-- Name: COLUMN retail_asset_charge_master_v2.charge_id; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.charge_id IS 'Primary key UUID';


--
-- Name: COLUMN retail_asset_charge_master_v2.loan_product; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.loan_product IS 'Normalized loan product type';


--
-- Name: COLUMN retail_asset_charge_master_v2.loan_product_name; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.loan_product_name IS 'Original product name from source document';


--
-- Name: COLUMN retail_asset_charge_master_v2.charge_type; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.charge_type IS 'Type of charge (processing fee, partial payment, etc.)';


--
-- Name: COLUMN retail_asset_charge_master_v2.charge_context; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.charge_context IS 'Second-level discriminator: GENERAL, ON_LIMIT, ON_ENHANCED_AMOUNT, ON_REDUCED_AMOUNT';


--
-- Name: COLUMN retail_asset_charge_master_v2.charge_title; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.charge_title IS 'Short label for UI display';


--
-- Name: COLUMN retail_asset_charge_master_v2.charge_description; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON COLUMN public.retail_asset_charge_master_v2.charge_description IS 'Longer description for schedule / audit';


--
-- Name: skybanking_fee_master; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.skybanking_fee_master (
    fee_id uuid NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    charge_type character varying(100) NOT NULL,
    network character varying(50),
    product character varying(50) NOT NULL,
    product_name character varying(200) NOT NULL,
    fee_amount numeric(15,4),
    fee_unit character varying(20) NOT NULL,
    fee_basis character varying(50) NOT NULL,
    is_conditional boolean NOT NULL,
    condition_description text,
    status character varying(20) NOT NULL,
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    answer_text text
);


ALTER TABLE public.skybanking_fee_master OWNER TO chatbot_user;

--
-- Data for Name: card_fee_master; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: card_fee_notes; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: retail_asset_charge_master_v2; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: skybanking_fee_master; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Name: card_fee_master card_fee_master_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.card_fee_master
    ADD CONSTRAINT card_fee_master_pkey PRIMARY KEY (fee_id);


--
-- Name: card_fee_notes card_fee_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.card_fee_notes
    ADD CONSTRAINT card_fee_notes_pkey PRIMARY KEY (note_number);


--
-- Name: retail_asset_charge_master_v2 no_overlap_active_rules; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.retail_asset_charge_master_v2
    ADD CONSTRAINT no_overlap_active_rules EXCLUDE USING gist (loan_product WITH =, charge_type WITH =, charge_context WITH =, daterange(effective_from, COALESCE(effective_to, 'infinity'::date), '[]'::text) WITH &&) WHERE ((status = 'ACTIVE'::public.status_enum));


--
-- Name: retail_asset_charge_master_v2 retail_asset_charge_master_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.retail_asset_charge_master_v2
    ADD CONSTRAINT retail_asset_charge_master_v2_pkey PRIMARY KEY (charge_id);


--
-- Name: skybanking_fee_master skybanking_fee_master_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.skybanking_fee_master
    ADD CONSTRAINT skybanking_fee_master_pkey PRIMARY KEY (fee_id);


--
-- Name: idx_card_fee_notes_effective_from; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX idx_card_fee_notes_effective_from ON public.card_fee_notes USING btree (effective_from);


--
-- Name: idx_fee_lookup; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX idx_fee_lookup ON public.card_fee_master USING btree (charge_type, product_line, card_category, card_network, card_product, status, effective_from, effective_to);


--
-- Name: idx_fee_product_line; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX idx_fee_product_line ON public.card_fee_master USING btree (product_line);


--
-- Name: ix_retail_v2_effective_dates; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_effective_dates ON public.retail_asset_charge_master_v2 USING btree (effective_from, effective_to);


--
-- Name: ix_retail_v2_lookup; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_lookup ON public.retail_asset_charge_master_v2 USING btree (loan_product, charge_type, charge_context, status, effective_from, effective_to);


--
-- Name: ix_retail_v2_lookup_no_ctx; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_lookup_no_ctx ON public.retail_asset_charge_master_v2 USING btree (loan_product, charge_type, status, effective_from DESC, priority DESC);


--
-- Name: ix_retail_v2_parse_status; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_parse_status ON public.retail_asset_charge_master_v2 USING btree (parse_status);


--
-- Name: ix_retail_v2_priority; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_priority ON public.retail_asset_charge_master_v2 USING btree (priority DESC);


--
-- Name: ix_retail_v2_status; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX ix_retail_v2_status ON public.retail_asset_charge_master_v2 USING btree (status);


--
-- Name: uq_retail_v2_rule; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE UNIQUE INDEX uq_retail_v2_rule ON public.retail_asset_charge_master_v2 USING btree (loan_product, charge_type, charge_context, effective_from) WHERE (status = 'ACTIVE'::public.status_enum);


--
-- Name: INDEX uq_retail_v2_rule; Type: COMMENT; Schema: public; Owner: chatbot_user
--

COMMENT ON INDEX public.uq_retail_v2_rule IS 'Unique constraint ensuring deterministic charge selection: (loan_product, charge_type, charge_context, effective_from)';


--
-- Name: retail_asset_charge_master_v2 update_retail_asset_charge_master_v2_updated_at; Type: TRIGGER; Schema: public; Owner: chatbot_user
--

CREATE TRIGGER update_retail_asset_charge_master_v2_updated_at BEFORE UPDATE ON public.retail_asset_charge_master_v2 FOR EACH ROW EXECUTE FUNCTION public.update_retail_asset_charge_v2_updated_at();


--
-- PostgreSQL database dump complete
--

